<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.architecture.admin.models.dao.push.PushDao">
    <!-- ==============================================================
        SETTING
    =============================================================== -->
    <!-- database name -->
    <sql id="databaseSns">${databaseRefIdSns}</sql>
    <sql id="databaseMember">${databaseRefIdMember}</sql>
    <sql id="databasePush">${databaseRefIdPush}</sql>
    <sql id="databaseCommon">${databaseRefIdCommon}</sql>

    <!-- ==============================================================
      SELECT
   =============================================================== -->

    <!-- ==============================================================
        INSERT
    =============================================================== -->
    <!-- ==============================================================
        UPDATE
    =============================================================== -->

    <!-- ==============================================================
        DELETE
    =============================================================== -->
</mapper>